<!-- BEGIN: Header-->
<header class="page-topbar" id="header">
  <div class="navbar navbar-fixed">
    <nav class="navbar-main navbar-color nav-collapsible sideNav-lock navbar-light">
      <div class="nav-wrapper">
        <!-- <div class="header-search-wrapper hide-on-med-and-down hidded"><i class="material-icons">search</i>
            <input class="header-search-input z-depth-2" type="text" name="Search" data-search="template-list">
            <ul class="search-list collection display-none"></ul>
        </div> -->


        <!-- profile-dropdown-->
        <a class="grey-text text-darken-1 right" href="/users/sign_out" data-method="delete" data-confirm="Are you sure ?">
          <i class="material-icons">power_settings_new</i> 
          Logout
        </a>
      </div>
    </nav>
  </div>
</header>
